.wrapperMenuBurger{
    display: block;
    height: 85%;
    width: 120px;
    /* background-color: red; */
}
.wrapperMenuBurger {
    display: flex;
    align-items: center;
    height: 85%;
    /* background-color: aquamarine; */
    
}
.buttonMenuBurger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    cursor: pointer;
    /* background-color: brown; */
}
.burgerBar {
    height: 2px;
    width: 100%;
    /* background-color: white; */
    background: linear-gradient(to right, rgba(253,255,0, .8) 35%, rgba(52, 73, 194, .8) 69%);
}
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

.burgerBar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.35em, 0.4em);
    transition: ease-out 0.5s;
}

.burgerBar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burgerBar.clicked:nth-child(3) {
    transform: rotate(-45deg) translate(0.35em, -0.5em);
    transition: ease-out 0.5s;
}

.burgerBar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}



@media screen and (min-width: 1030px) {
    .wrapperMenuBurger {
        display: none;
    }
}