@import "../styles/App/appStyle.css";
@import "../styles/Home/homeStyles.css";
@import "../styles/TopHome/TopHomeStyle.css";
@import "../styles/MainHome/MainHomeStyle.css";
@import "../styles/Header/HeaderStyle.css";
@import "../styles/Logo/LogoStyle.css";
@import "../styles/NavBarHeader/NavBarHeader.css";
@import "../styles/ButtonProfile/ButtonProfileStyle.css";
@import "../styles/MenuBurger/MenuBurgerStyle.css";
@import "../styles/NaviBarMyProfile/NavBarMyProfileStyle.css";
@import "../styles/NavBarMenuBurger/NavBarMenuBurgerStyle.css";
@import "../styles/NosServices/NosServicesStyle.css";
@import "../styles/Fondators/FondatorsStyle.css";
@import "../styles/Footer/FooterStyle.css";
@import "../styles/DeveloperInfoAndPermission/DeveloperInfoAndPermissionStyle.css";
@import "../styles/Advice/AdviceSyle.css";
@import "../styles/Coaching/CoachingStyle.css";
@import "../styles/ProjectManagement/ProjectManagementStyle.css";
@import "../styles/Training/TrainingStyle.css";
@import "../styles/TopNosServices/TopNosServicesStyles.css";
@import "../styles/MainNosServices/MainNosServicesStyle.css";
@import "../styles/Rh/RhStyle.css";
@import "../styles/Results/ResultsStyle.css";