.wrapperTopNosServiceComponent {
    height: 100vh;
    width: 100%;

}

.imageBgTopNosServices {
    background-image: url("../../assets/imagesApp/NosConseils.jpg");

    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;

}

.blurTopNosService {
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .2);

}

.titleTopNosServices {
    height: 22%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: rgb(253, 255, 0);
    font-size: 0.7rem;
    font-size: 13px;
}

.descriptionTopNosServices {

    height: 68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bioTopNosServices {
    height: 35%;
    width: 90%;
}

.buttonTopServices {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonTopServices p {
    height: 35px;
    width: 100px;
    color: white;
    display: flex;
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(18, 17, 17, .8) 35%, rgba(52, 73, 194, .8) 69%);
}

.textTopNosServices {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
    height: 70%;
    color: white;
}

.vertorNosServices {
    height: 65%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.vertorNosServices img {
    width: 80%;
    height: 80%;
    border-radius: 15px;
}

@media (min-width: 410px) {}

@media (min-width: 610px) {
    .wrapperTopNosServices {
        height: 500px;
    }

    .textTopNosServices {
        font-size: 0.9rem;
    }

    .vertorNosServices img {
        width: 60%;
    }

    .titleTopNosServices {
        height: 25%;
        font-size: 1.2rem;
        align-items: flex-end;
        /* background-color: aqua; */
    }
}

@media (min-width: 810px) {

    .descriptionTopNosServices {
        height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .bioTopNosServices {
        height: 80%;
        width: 50%;
    }

    .bioTopNosServices p {
        height: 60%;
        width: 100%;
    }

    .buttonTopServices {
        height: 40%;
        width: 100%;
    }

    .buttonTopServices p {
        height: 40px;
        width: 120px;
    }

    .vertorNosServices {
        height: 80%;
        width: 40%;
    }

    .vertorNosServices img {
        width: 90%;
        height: 80%;
    }

    .textTopNosServices {
        font-size: 1rem;
    }

    .titleTopNosServices {
        height: 30%;
        font-size: 1.7rem;
        align-items: flex-end;
        /* background-color: aqua; */
    }

    .descriptionTopNosServices {
        height: 70%;
    }
}

@media (min-width: 1010px) {

    .wrapperTopNosServices {
        height: 600px;
    }

    .vertorNosServices img {
        width: 90%;
        height: 80%;
        border-radius: 15px;
    }

    .textTopNosServices {
        font-size: 1.5rem;
    }

    .titleTopNosServices {
        height: 30%;
        font-size: 1.7rem;
        align-items: flex-end;
        /* background-color: aqua; */
    }

    .descriptionTopNosServices {
        height: 70%;
    }
}